group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Microsoft.AspNetCore.Authentication.AzureAD.UI
    nuget Microsoft.AspNetCore.HttpsPolicy
    nuget Microsoft.Graph
    nuget Microsoft.Identity.Client
    nuget Microsoft.NETCore.App 2.0.0
    nuget MySqlConnector
    nuget Polly
    nuget Saturn
    nuget SixLabors.ImageSharp
    nuget Thoth.Json.Giraffe
    nuget WakeOnLan

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Elmish
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fable.React
    nuget Fulma
    nuget Fulma.Extensions
    nuget Thoth.Elmish.Toast
    nuget Thoth.Json

    clitool dotnet-fable

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

group Test
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.Hopac